<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np

In [2]:
from collections import Counter

In [45]:
a = [1, 1, 2, 3, 4, 4, 3]

In [4]:
c1 = Counter([1, 1, 2, 3, 4, 4, 3])

In [12]:
c1

Counter({1: 2, 2: 1, 3: 2, 4: 2})

In [37]:
c1[2]

1

In [16]:
for i in a:
    print(c1[i])

2
2
1
2
2
2
2

In [6]:
#?np.log10

In [38]:
# p*log(p)
# 1
p1 = float(2/7)
p2 = float(1/7)
p3 = float(2/7)
p4 = float(2/7)
list1 = [p*np.log10(p) for p in [p1, p1, p2, p3, p3, p4, p4]]

In [39]:
list1

[-0.15544801267150732,
 -0.15544801267150732,
 -0.1207282914306081,
 -0.15544801267150732,
 -0.15544801267150732,
 -0.15544801267150732,
 -0.15544801267150732]

In [40]:
-sum(list1)

1.053416367459652

In [46]:
def entropy(input_list):
    input_counter = Counter(input_list)
    #input_set = set(input_list)
    p_list = [input_counter[i]/len(input_list) for i in input_list]
    #print(p_list)
    p_logp = [i*np.log10(i) for i in p_list]
    return -sum(p_logp)

In [47]:
entropy(a)

1.053416367459652

In [23]:
entropy([1, 1, 1, 1])

-0.0

In [48]:
def entropy(elements):
    counter = Counter(elements)
    probabilities = [counter[e] / len(elements) for e in elements]
    return -sum(p * np.log10(p) for p in probabilities)

In [49]:
entropy(a)

1.053416367459652

In [11]:
entropy([1, 1, 1, 1])

-0.0

In [12]:
entropy([1, 1, 1, 0])

0.43162715520066552

In [13]:
entropy([1, 1, 0, 0])

0.6020599913279624

In [50]:
import pandas as pd

In [51]:
mock_data = {
    'gender':['F', 'F', 'F', 'F', 'M', 'M', 'M'],
    'income': ['+10', '-10', '+10', '+10', '+10', '+10', '-10'],
    'family_number': [1, 1, 2, 1, 1, 1, 2],
    'bought': [1, 1, 1, 0, 0, 0, 1],
}

In [52]:
pd.DataFrame(mock_data)

   bought  family_number gender income
0       1              1      F    +10
1       1              1      F    -10
2       1              2      F    +10
3       0              1      F    +10
4       0              1      M    +10
5       0              1      M    +10
6       1              2      M    -10

In [53]:
dataset = pd.DataFrame.from_dict(mock_data)

In [54]:
dataset

   bought  family_number gender income
0       1              1      F    +10
1       1              1      F    -10
2       1              2      F    +10
3       0              1      F    +10
4       0              1      M    +10
5       0              1      M    +10
6       1              2      M    -10

In [18]:
set(mock_data['family_number'])

{1, 2}

In [55]:
sub_split_1 = dataset[dataset['family_number'] == 1]['bought'].tolist()

In [56]:
sub_split_2 = dataset[dataset['family_number'] != 1]['bought'].tolist()

In [57]:
entropy(sub_split_1) + entropy(sub_split_2) # 使得family_number == 1的bought和family_number != 1的bought尽可能各为一类，即交叉熵之和最小

0.7176797562470717

In [22]:
dataset.columns.tolist()

['bought', 'family_number', 'gender', 'income']

In [61]:
[i for i in set([1, 2, 3])]

[1, 2, 3]

In [62]:
set(dataset["gender"].values)

{'F', 'M'}

In [63]:
from collections import defaultdict

In [64]:
dic1 = defaultdict(int)

In [65]:
dic1["A"] = "M"

In [66]:
dic1

defaultdict(int, {'A': 'M'})

In [77]:
# 寻找第一个交叉熵和最小的分割
from collections import defaultdict
def first_attribute_to_splite(dataset, target):
    attributes = set(dataset.columns.tolist()) - set([target])
    min_entropy = None
    output_attr = list(attributes)[0]
    
    sub_split = defaultdict(int)
    for attr in attributes:
        temp = 0
        for i in set(dataset[attr].values):
            #print(i)
            sub_split[i] = dataset[dataset[attr] == i][target].tolist()
            temp += entropy(sub_split[i])
        if min_entropy is None:
            min_entropy = temp
        elif temp < min_entropy:
            output_attr = attr
            min_entropy = temp
        else:
            continue
    return output_attr, min_entropy

In [78]:
first_attribute_to_splite(dataset, "bought")

('family_number', 0.7176797562470717)

In [71]:
def find_the_min_spilter(training_data: pd.DataFrame, target: str) -> str:
    x_fields = set(training_data.columns.tolist()) - {target}
    
    spliter = None
    min_entropy = float('inf')
    
    for f in x_fields:
        elements = set(training_data[f])
        for e in elements:
            sub_spliter_1 = training_data[dataset[f] == e][target].tolist()
            entropy_1 = entropy(sub_split_1)
            sub_spliter_2 = training_data[dataset[f] != e][target].tolist()
            entropy_2 = entropy(sub_split_2)
            entropy_v = entropy_1 + entropy_2
            
            if entropy_v < min_entropy:
                min_entropy = entropy_v
                spliter = (f, e)
    
    print('spliter is: {}'.format(spliter))
    print('the min entropy is: {}'.format(min_entropy))
    
    return spliter

In [72]:
find_the_min_spilter(dataset, 'bought')

spliter is: ('gender', 'M')
the min entropy is: 0.7176797562470717

('gender', 'M')

In [73]:
dataset[dataset['gender'] == 'F']

   bought  family_number gender income
0       1              1      F    +10
1       1              1      F    -10
2       1              2      F    +10
3       0              1      F    +10

In [74]:
dataset[dataset['gender'] != 'F']

   bought  family_number gender income
4       0              1      M    +10
5       0              1      M    +10
6       1              2      M    -10